---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us | CloudExtel">
  <main
    class="bg-primary-color w-screen pt-[100px] h-auto md:h-[480px] relative"
  >
    <div
      class="container flex flex-col md:flex-row relative"
    >
      <div class="w-full md:w-[50%]">
        <h1
          data-aos="fade-in-up"
          data-aos-duration="1000"
          class="heading-1 text-white mt-8 md:mt-20"
        >
          Contact Us
        </h1>
        <p class="para text-medium text-white mt-8 max-w-[450px]">
          Reach out to us for any inquiries, collaborations, or assistance. Our
          team is here to provide expert guidance tailored to your networking
          needs. Whether enhancing connectivity, exploring NaaS options, or
          discussing partnerships, we're just a message away.
        </p>
      </div>
    </div>
  </main>
  <section class="container py-0 md:pt-[60px] relative top-[-150px] md:top-0">
    <div class="flex gap-6 flex-col md:flex-row justify-between">
      <div class="w-full md:w-1/2 order-2 md:order-1 mt-10 md:mt-0">
        <div class="lg:col-span-5">
          <div class="space-y-4">
            <div class="flex items-start gap-3">
              <img src="/images/phone.png" alt="" />
              <a
                href="tel:+919867151303"
                class=" transition-colors para font-medium"
              >
                +91 98671 51303
              </a>
            </div>

            <div class="flex items-start gap-3">
              <img src="/images/map-pointer.png" alt="" />
              <address class="not-italic para font-medium">
                The Ruby, 11th Floor, AWFIS, Dadar (West),<br />
                Mumbai, Maharashtra - 400028
              </address>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[#F5FAFE] p-6 md:p-12 w-full max-w-lg relative top-0 mt-[180px] md:mt-0 md:top-[-320px] order-1 md:order-2 right-0"
      >
        <form class="space-y-6">
          <!-- Full Name -->
          <div>
            <input
              type="text"
              placeholder="Full Name"
              class="w-full border border-[#D4E2ED] p-3 focus:outline-none focus:ring-2 focus:ring-primary-color focus:border-primary-color"
            />
          </div>

          <!-- Email -->
          <div>
            <input
              type="email"
              placeholder="Email"
              class="w-full border border-[#D4E2ED] p-3 focus:outline-none focus:ring-2 focus:ring-primary-color focus:border-primary-color"
            />
          </div>

          <!-- Contact No -->
          <div>
            <input
              type="text"
              placeholder="Contact No."
              class="w-full border border-[#D4E2ED] p-3 focus:outline-none focus:ring-2 focus:ring-primary-color focus:border-primary-color"
            />
          </div>

          <!-- Subject -->
          <div>
            <input
              type="text"
              placeholder="Subject"
              class="w-full border border-[#D4E2ED] p-3 focus:outline-none focus:ring-2 focus:ring-primary-color focus:border-primary-color"
            />
          </div>

          <!-- Message -->
          <div>
            <textarea
              placeholder="Message"
              rows="8"
              class="w-full border border-[#D4E2ED] p-3 focus:outline-none focus:ring-2 focus:ring-primary-color focus:border-primary-color"
            ></textarea>
          </div>

          <!-- Submit Button -->
          <div class="flex justify-end">
            <button
              type="submit"
              class="bg-primary-color text-white text-[14px] font-medium px-6 py-3 gap-3 rounded-full flex items-center space-x-2 hover:scale-105 transition focus:ring-4 focus:ring-blue-300"
            >
              Submit <img src="images/right-arrow.png" alt="" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</Layout>
