---
import Layout from "../layouts/Layout.astro";
import IndiaMap from "../components/IndiaMap.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-grey h-screen w-screen relative overflow-hidden">
    <div
      class="w-full h-full bg-[#233852A3] z-[10] absolute flex justify-center items-center"
    >
      <h1
        class="max-w-[1166px] text-[80px] text-center text-white font-bold lg:leading-snug"
      >
        India’s Leading<br />
        Network as a Service (NaaS) Provider
      </h1>
      <span
        class="absolute left-[50%] translate-x-[-50%] bottom-10 text-white flex"
      >
        Scroll Down
        <i class="rotate-90 text-center flex items-center">
          <svg
            width="17"
            height="8"
            viewBox="0 0 17 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="fill-white hover:fill-[#233852]"
          >
            <path
              d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z"
              class="fill-white hover:fill-[#233852]"></path>
          </svg>
        </i>
      </span>
    </div>
    <video
      src="/public/images/coverVideo.mp4"
      autoplay
      muted
      loop
      class="min-h-screen w-screen"
    >
      <source src="/public/images/coverVideo.mp4" />
    </video>
  </main>
  <section class="container">
    <div class="max-w-[67rem] py-32 mx-auto space-y-10">
      <h1 class="heading-1 text-center">What We Do</h1>
      <h3 class="heading-3 text-center">
        At CloudExtel, we're reinventing the Digital Infrastructure with our
        cutting-edge solutions like
      </h3>
      <div class="flex flex-wrap justify-center">
        <div
          class="w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#2338523D]"
        >
          <svg
            width="41"
            height="40"
            viewBox="0 0 41 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3771)">
              <path
                d="M20.5098 6.74438C18.0462 6.74438 16.042 8.7486 16.042 11.2122C16.042 13.6758 18.0462 15.68 20.5098 15.68C22.973 15.68 24.978 13.6758 24.978 11.2122C24.9781 8.7486 22.9734 6.74438 20.5098 6.74438ZM20.5098 13.151C19.4405 13.151 18.571 12.2815 18.571 11.2122C18.571 10.1429 19.4409 9.27336 20.5098 9.27336C21.5791 9.27336 22.4491 10.1429 22.4491 11.2122C22.4491 12.2815 21.5792 13.151 20.5098 13.151Z"
                fill="#1456A2"></path>
              <path
                d="M15.5446 6.24756C16.0386 5.75397 16.0386 4.95319 15.5446 4.4596C15.051 3.96562 14.2502 3.96562 13.7566 4.4596C10.0336 8.18303 10.0336 14.2415 13.7566 17.965C14.0036 18.212 14.3273 18.3355 14.651 18.3355C14.9743 18.3355 15.298 18.212 15.5446 17.9654C16.0382 17.4714 16.0382 16.6706 15.5446 16.1771C12.8074 13.4395 12.8074 8.98514 15.5446 6.24756Z"
                fill="#1456A2"></path>
              <path
                d="M27.2625 4.45945C26.7685 3.96586 25.9685 3.96547 25.4745 4.45945C24.9805 4.95344 24.9805 5.75383 25.4745 6.24781C26.8051 7.57843 27.5381 9.34155 27.5381 11.2121C27.5381 13.0826 26.8051 14.8458 25.4745 16.1769C24.9805 16.6704 24.9805 17.4712 25.4745 17.9648C25.7215 18.2118 26.0448 18.3353 26.3685 18.3353C26.6918 18.3353 27.0154 18.2118 27.2625 17.9648C29.071 16.1562 30.0671 13.7583 30.0671 11.2121C30.0671 8.66593 29.071 6.26804 27.2625 4.45945Z"
                fill="#1456A2"></path>
              <path
                d="M7.68613 11.2335C7.68613 7.81347 9.02519 4.59121 11.4568 2.15919C11.9508 1.66559 11.9508 0.864813 11.4568 0.37122C10.9632 -0.122763 10.1625 -0.122763 9.66886 0.37122C6.75933 3.28035 5.15723 7.13824 5.15723 11.2335C5.15723 15.3291 6.75933 19.1866 9.66886 22.0957C9.91542 22.3427 10.2392 22.4662 10.5628 22.4662C10.8861 22.4662 11.2103 22.3427 11.4568 22.0957C11.9508 21.6017 11.9508 20.8013 11.4568 20.3077C9.02527 17.8761 7.68613 14.6534 7.68613 11.2335Z"
                fill="#1456A2"></path>
              <path
                d="M31.3508 0.370683C30.8569 -0.12291 30.0569 -0.12291 29.5629 0.370683C29.0689 0.864666 29.0689 1.66552 29.5629 2.15904C34.566 7.16254 34.566 15.3041 29.5629 20.3076C29.0689 20.8012 29.0689 21.602 29.5629 22.0956C29.8099 22.3426 30.1332 22.466 30.4569 22.466C30.7805 22.466 31.1038 22.3425 31.3508 22.0951C37.3403 16.1058 37.3403 6.36012 31.3508 0.370683Z"
                fill="#1456A2"></path>
              <path
                d="M17.2777 21.6675L15.4727 23.4385L28.5807 36.7992L30.3858 35.0283L17.2777 21.6675Z"
                fill="#1456A2"></path>
              <path
                d="M23.7833 21.6659L10.6313 35.0278L12.4337 36.8019L25.5857 23.44L23.7833 21.6659Z"
                fill="#1456A2"></path>
              <path
                d="M31.6892 38.3078L22.8801 13.8187C22.6436 13.1616 21.9208 12.821 21.262 13.057C20.6049 13.2931 20.2639 14.0176 20.5003 14.6747L29.3095 39.1637C29.495 39.6792 29.9814 40.0003 30.4994 40.0003C30.6414 40.0003 30.7856 39.9764 30.9272 39.9257C31.5843 39.6889 31.9257 38.9653 31.6892 38.3078Z"
                fill="#1456A2"></path>
              <path
                d="M19.8013 13.057C19.1463 12.821 18.4196 13.1595 18.1823 13.8166L9.33098 38.3056C9.09371 38.9623 9.4334 39.6872 10.0905 39.9246C10.2325 39.976 10.3775 40.0004 10.5204 40.0004C11.0376 40.0004 11.5236 39.6805 11.7095 39.165L20.5608 14.676C20.7981 14.0193 20.4584 13.2944 19.8013 13.057Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3771">
                <rect
                  width="40"
                  height="40"
                  fill="white"
                  transform="translate(0.5 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
          <h6 class="heading-6 text-center">Small Cell Hosting</h6>
        </div>
        <div
          class="w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#2338523D]"
        >
          <svg
            width="41"
            height="40"
            viewBox="0 0 41 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3771)">
              <path
                d="M20.5098 6.74438C18.0462 6.74438 16.042 8.7486 16.042 11.2122C16.042 13.6758 18.0462 15.68 20.5098 15.68C22.973 15.68 24.978 13.6758 24.978 11.2122C24.9781 8.7486 22.9734 6.74438 20.5098 6.74438ZM20.5098 13.151C19.4405 13.151 18.571 12.2815 18.571 11.2122C18.571 10.1429 19.4409 9.27336 20.5098 9.27336C21.5791 9.27336 22.4491 10.1429 22.4491 11.2122C22.4491 12.2815 21.5792 13.151 20.5098 13.151Z"
                fill="#1456A2"></path>
              <path
                d="M15.5446 6.24756C16.0386 5.75397 16.0386 4.95319 15.5446 4.4596C15.051 3.96562 14.2502 3.96562 13.7566 4.4596C10.0336 8.18303 10.0336 14.2415 13.7566 17.965C14.0036 18.212 14.3273 18.3355 14.651 18.3355C14.9743 18.3355 15.298 18.212 15.5446 17.9654C16.0382 17.4714 16.0382 16.6706 15.5446 16.1771C12.8074 13.4395 12.8074 8.98514 15.5446 6.24756Z"
                fill="#1456A2"></path>
              <path
                d="M27.2625 4.45945C26.7685 3.96586 25.9685 3.96547 25.4745 4.45945C24.9805 4.95344 24.9805 5.75383 25.4745 6.24781C26.8051 7.57843 27.5381 9.34155 27.5381 11.2121C27.5381 13.0826 26.8051 14.8458 25.4745 16.1769C24.9805 16.6704 24.9805 17.4712 25.4745 17.9648C25.7215 18.2118 26.0448 18.3353 26.3685 18.3353C26.6918 18.3353 27.0154 18.2118 27.2625 17.9648C29.071 16.1562 30.0671 13.7583 30.0671 11.2121C30.0671 8.66593 29.071 6.26804 27.2625 4.45945Z"
                fill="#1456A2"></path>
              <path
                d="M7.68613 11.2335C7.68613 7.81347 9.02519 4.59121 11.4568 2.15919C11.9508 1.66559 11.9508 0.864813 11.4568 0.37122C10.9632 -0.122763 10.1625 -0.122763 9.66886 0.37122C6.75933 3.28035 5.15723 7.13824 5.15723 11.2335C5.15723 15.3291 6.75933 19.1866 9.66886 22.0957C9.91542 22.3427 10.2392 22.4662 10.5628 22.4662C10.8861 22.4662 11.2103 22.3427 11.4568 22.0957C11.9508 21.6017 11.9508 20.8013 11.4568 20.3077C9.02527 17.8761 7.68613 14.6534 7.68613 11.2335Z"
                fill="#1456A2"></path>
              <path
                d="M31.3508 0.370683C30.8569 -0.12291 30.0569 -0.12291 29.5629 0.370683C29.0689 0.864666 29.0689 1.66552 29.5629 2.15904C34.566 7.16254 34.566 15.3041 29.5629 20.3076C29.0689 20.8012 29.0689 21.602 29.5629 22.0956C29.8099 22.3426 30.1332 22.466 30.4569 22.466C30.7805 22.466 31.1038 22.3425 31.3508 22.0951C37.3403 16.1058 37.3403 6.36012 31.3508 0.370683Z"
                fill="#1456A2"></path>
              <path
                d="M17.2777 21.6675L15.4727 23.4385L28.5807 36.7992L30.3858 35.0283L17.2777 21.6675Z"
                fill="#1456A2"></path>
              <path
                d="M23.7833 21.6659L10.6313 35.0278L12.4337 36.8019L25.5857 23.44L23.7833 21.6659Z"
                fill="#1456A2"></path>
              <path
                d="M31.6892 38.3078L22.8801 13.8187C22.6436 13.1616 21.9208 12.821 21.262 13.057C20.6049 13.2931 20.2639 14.0176 20.5003 14.6747L29.3095 39.1637C29.495 39.6792 29.9814 40.0003 30.4994 40.0003C30.6414 40.0003 30.7856 39.9764 30.9272 39.9257C31.5843 39.6889 31.9257 38.9653 31.6892 38.3078Z"
                fill="#1456A2"></path>
              <path
                d="M19.8013 13.057C19.1463 12.821 18.4196 13.1595 18.1823 13.8166L9.33098 38.3056C9.09371 38.9623 9.4334 39.6872 10.0905 39.9246C10.2325 39.976 10.3775 40.0004 10.5204 40.0004C11.0376 40.0004 11.5236 39.6805 11.7095 39.165L20.5608 14.676C20.7981 14.0193 20.4584 13.2944 19.8013 13.057Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3771">
                <rect
                  width="40"
                  height="40"
                  fill="white"
                  transform="translate(0.5 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
          <h6 class="heading-6 text-center">Fibre</h6>
        </div>
        <div
          class="w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#2338523D]"
        >
          <svg
            width="41"
            height="40"
            viewBox="0 0 41 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3771)">
              <path
                d="M20.5098 6.74438C18.0462 6.74438 16.042 8.7486 16.042 11.2122C16.042 13.6758 18.0462 15.68 20.5098 15.68C22.973 15.68 24.978 13.6758 24.978 11.2122C24.9781 8.7486 22.9734 6.74438 20.5098 6.74438ZM20.5098 13.151C19.4405 13.151 18.571 12.2815 18.571 11.2122C18.571 10.1429 19.4409 9.27336 20.5098 9.27336C21.5791 9.27336 22.4491 10.1429 22.4491 11.2122C22.4491 12.2815 21.5792 13.151 20.5098 13.151Z"
                fill="#1456A2"></path>
              <path
                d="M15.5446 6.24756C16.0386 5.75397 16.0386 4.95319 15.5446 4.4596C15.051 3.96562 14.2502 3.96562 13.7566 4.4596C10.0336 8.18303 10.0336 14.2415 13.7566 17.965C14.0036 18.212 14.3273 18.3355 14.651 18.3355C14.9743 18.3355 15.298 18.212 15.5446 17.9654C16.0382 17.4714 16.0382 16.6706 15.5446 16.1771C12.8074 13.4395 12.8074 8.98514 15.5446 6.24756Z"
                fill="#1456A2"></path>
              <path
                d="M27.2625 4.45945C26.7685 3.96586 25.9685 3.96547 25.4745 4.45945C24.9805 4.95344 24.9805 5.75383 25.4745 6.24781C26.8051 7.57843 27.5381 9.34155 27.5381 11.2121C27.5381 13.0826 26.8051 14.8458 25.4745 16.1769C24.9805 16.6704 24.9805 17.4712 25.4745 17.9648C25.7215 18.2118 26.0448 18.3353 26.3685 18.3353C26.6918 18.3353 27.0154 18.2118 27.2625 17.9648C29.071 16.1562 30.0671 13.7583 30.0671 11.2121C30.0671 8.66593 29.071 6.26804 27.2625 4.45945Z"
                fill="#1456A2"></path>
              <path
                d="M7.68613 11.2335C7.68613 7.81347 9.02519 4.59121 11.4568 2.15919C11.9508 1.66559 11.9508 0.864813 11.4568 0.37122C10.9632 -0.122763 10.1625 -0.122763 9.66886 0.37122C6.75933 3.28035 5.15723 7.13824 5.15723 11.2335C5.15723 15.3291 6.75933 19.1866 9.66886 22.0957C9.91542 22.3427 10.2392 22.4662 10.5628 22.4662C10.8861 22.4662 11.2103 22.3427 11.4568 22.0957C11.9508 21.6017 11.9508 20.8013 11.4568 20.3077C9.02527 17.8761 7.68613 14.6534 7.68613 11.2335Z"
                fill="#1456A2"></path>
              <path
                d="M31.3508 0.370683C30.8569 -0.12291 30.0569 -0.12291 29.5629 0.370683C29.0689 0.864666 29.0689 1.66552 29.5629 2.15904C34.566 7.16254 34.566 15.3041 29.5629 20.3076C29.0689 20.8012 29.0689 21.602 29.5629 22.0956C29.8099 22.3426 30.1332 22.466 30.4569 22.466C30.7805 22.466 31.1038 22.3425 31.3508 22.0951C37.3403 16.1058 37.3403 6.36012 31.3508 0.370683Z"
                fill="#1456A2"></path>
              <path
                d="M17.2777 21.6675L15.4727 23.4385L28.5807 36.7992L30.3858 35.0283L17.2777 21.6675Z"
                fill="#1456A2"></path>
              <path
                d="M23.7833 21.6659L10.6313 35.0278L12.4337 36.8019L25.5857 23.44L23.7833 21.6659Z"
                fill="#1456A2"></path>
              <path
                d="M31.6892 38.3078L22.8801 13.8187C22.6436 13.1616 21.9208 12.821 21.262 13.057C20.6049 13.2931 20.2639 14.0176 20.5003 14.6747L29.3095 39.1637C29.495 39.6792 29.9814 40.0003 30.4994 40.0003C30.6414 40.0003 30.7856 39.9764 30.9272 39.9257C31.5843 39.6889 31.9257 38.9653 31.6892 38.3078Z"
                fill="#1456A2"></path>
              <path
                d="M19.8013 13.057C19.1463 12.821 18.4196 13.1595 18.1823 13.8166L9.33098 38.3056C9.09371 38.9623 9.4334 39.6872 10.0905 39.9246C10.2325 39.976 10.3775 40.0004 10.5204 40.0004C11.0376 40.0004 11.5236 39.6805 11.7095 39.165L20.5608 14.676C20.7981 14.0193 20.4584 13.2944 19.8013 13.057Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3771">
                <rect
                  width="40"
                  height="40"
                  fill="white"
                  transform="translate(0.5 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
          <h6 class="heading-6 text-center">FTTH</h6>
        </div>
        <div
          class="w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start"
        >
          <svg
            width="41"
            height="40"
            viewBox="0 0 41 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3771)">
              <path
                d="M20.5098 6.74438C18.0462 6.74438 16.042 8.7486 16.042 11.2122C16.042 13.6758 18.0462 15.68 20.5098 15.68C22.973 15.68 24.978 13.6758 24.978 11.2122C24.9781 8.7486 22.9734 6.74438 20.5098 6.74438ZM20.5098 13.151C19.4405 13.151 18.571 12.2815 18.571 11.2122C18.571 10.1429 19.4409 9.27336 20.5098 9.27336C21.5791 9.27336 22.4491 10.1429 22.4491 11.2122C22.4491 12.2815 21.5792 13.151 20.5098 13.151Z"
                fill="#1456A2"></path>
              <path
                d="M15.5446 6.24756C16.0386 5.75397 16.0386 4.95319 15.5446 4.4596C15.051 3.96562 14.2502 3.96562 13.7566 4.4596C10.0336 8.18303 10.0336 14.2415 13.7566 17.965C14.0036 18.212 14.3273 18.3355 14.651 18.3355C14.9743 18.3355 15.298 18.212 15.5446 17.9654C16.0382 17.4714 16.0382 16.6706 15.5446 16.1771C12.8074 13.4395 12.8074 8.98514 15.5446 6.24756Z"
                fill="#1456A2"></path>
              <path
                d="M27.2625 4.45945C26.7685 3.96586 25.9685 3.96547 25.4745 4.45945C24.9805 4.95344 24.9805 5.75383 25.4745 6.24781C26.8051 7.57843 27.5381 9.34155 27.5381 11.2121C27.5381 13.0826 26.8051 14.8458 25.4745 16.1769C24.9805 16.6704 24.9805 17.4712 25.4745 17.9648C25.7215 18.2118 26.0448 18.3353 26.3685 18.3353C26.6918 18.3353 27.0154 18.2118 27.2625 17.9648C29.071 16.1562 30.0671 13.7583 30.0671 11.2121C30.0671 8.66593 29.071 6.26804 27.2625 4.45945Z"
                fill="#1456A2"></path>
              <path
                d="M7.68613 11.2335C7.68613 7.81347 9.02519 4.59121 11.4568 2.15919C11.9508 1.66559 11.9508 0.864813 11.4568 0.37122C10.9632 -0.122763 10.1625 -0.122763 9.66886 0.37122C6.75933 3.28035 5.15723 7.13824 5.15723 11.2335C5.15723 15.3291 6.75933 19.1866 9.66886 22.0957C9.91542 22.3427 10.2392 22.4662 10.5628 22.4662C10.8861 22.4662 11.2103 22.3427 11.4568 22.0957C11.9508 21.6017 11.9508 20.8013 11.4568 20.3077C9.02527 17.8761 7.68613 14.6534 7.68613 11.2335Z"
                fill="#1456A2"></path>
              <path
                d="M31.3508 0.370683C30.8569 -0.12291 30.0569 -0.12291 29.5629 0.370683C29.0689 0.864666 29.0689 1.66552 29.5629 2.15904C34.566 7.16254 34.566 15.3041 29.5629 20.3076C29.0689 20.8012 29.0689 21.602 29.5629 22.0956C29.8099 22.3426 30.1332 22.466 30.4569 22.466C30.7805 22.466 31.1038 22.3425 31.3508 22.0951C37.3403 16.1058 37.3403 6.36012 31.3508 0.370683Z"
                fill="#1456A2"></path>
              <path
                d="M17.2777 21.6675L15.4727 23.4385L28.5807 36.7992L30.3858 35.0283L17.2777 21.6675Z"
                fill="#1456A2"></path>
              <path
                d="M23.7833 21.6659L10.6313 35.0278L12.4337 36.8019L25.5857 23.44L23.7833 21.6659Z"
                fill="#1456A2"></path>
              <path
                d="M31.6892 38.3078L22.8801 13.8187C22.6436 13.1616 21.9208 12.821 21.262 13.057C20.6049 13.2931 20.2639 14.0176 20.5003 14.6747L29.3095 39.1637C29.495 39.6792 29.9814 40.0003 30.4994 40.0003C30.6414 40.0003 30.7856 39.9764 30.9272 39.9257C31.5843 39.6889 31.9257 38.9653 31.6892 38.3078Z"
                fill="#1456A2"></path>
              <path
                d="M19.8013 13.057C19.1463 12.821 18.4196 13.1595 18.1823 13.8166L9.33098 38.3056C9.09371 38.9623 9.4334 39.6872 10.0905 39.9246C10.2325 39.976 10.3775 40.0004 10.5204 40.0004C11.0376 40.0004 11.5236 39.6805 11.7095 39.165L20.5608 14.676C20.7981 14.0193 20.4584 13.2944 19.8013 13.057Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3771">
                <rect
                  width="40"
                  height="40"
                  fill="white"
                  transform="translate(0.5 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
          <h6 class="heading-6 text-center">Virtualized Networks</h6>
        </div>
      </div>
      <p class="para text-center">
        Our journey began with an idea to enable better connectivity for
        everyone. From day one, we set out to redefine how networks operate,
        focusing on creating flexible, scalable solutions that meet the unique
        needs of the digital age. Today, we are proud to lead the industry with
        our innovative approach to small-cell deployment, fibre-optic networks,
        and neutral host services.
      </p>
      <p class="para text-center">
        We empower telecom operators, internet providers, data centers,
        enterprises, and content providers to tackle the explosive data demands
        in India with ease and efficiency. Our state-of-the-art networks
        alleviate stress points, promote sharing, and embrace the latest in
        heterogeneous network technologies, ensuring the best connectivity
        experience possible.
      </p>
    </div>
  </section>
  <section class="bg-primary-color">
    <div class="container">
      <div class="max-w-[73rem] py-32 mx-auto space-y-10">
        <div class="w-full gap-y-10 gap-x-[120px] grid grid-cols-2 grid-rows-2">
          <div class="text-white space-y-3">
            <img src="/images/signal-tower-white.png" alt="" />
            <h3 class="heading-6">Small Cell Hosting</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Future-ready sites that are drivers of next-gen connectivity,
              transforming high-density areas with superior signal strength and
              sufficient capacity.
            </p>
          </div>
          <div class="text-white space-y-3">
            <img src="/images/Layer_1.png" alt="" />
            <h3 class="heading-6">FTTH (Fiber To The Home)</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Internet coming directly to your doorstep with blazing speed,
              connecting all your devices so you can enjoy an ultra-modern
              living experience.
            </p>
          </div>
          <div class="text-white space-y-3">
            <img src="/images/internet.png" alt="" />
            <h3 class="heading-6">Fiber</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Extensive underground and overhead fiber network spanning across
              India, powering 4G, 5G towers, and enterprises.
            </p>
          </div>
          <div class="text-white space-y-3">
            <img src="/images/radio.png" alt="" />
            <h3 class="heading-6">Virtualized/Shared Radio Networks</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Transforming telecom with scalable, end-to-end virtualized
              networks that solve coverage and capacity challenges through an
              active shared architecture.
            </p>
          </div>
        </div>
        <button
          class="flex gap-2 items-center bg-white border border-white rounded-full px-6 py-4 ml-auto"
        >
          Know More
          <svg
            width="21"
            height="9"
            viewBox="0 0 21 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.3536 4.85477C20.5488 4.65951 20.5488 4.34293 20.3536 4.14767L17.1716 0.965687C16.9763 0.770425 16.6597 0.770425 16.4645 0.965687C16.2692 1.16095 16.2692 1.47753 16.4645 1.67279L19.2929 4.50122L16.4645 7.32965C16.2692 7.52491 16.2692 7.84149 16.4645 8.03675C16.6597 8.23202 16.9763 8.23202 17.1716 8.03675L20.3536 4.85477ZM0 5.00122H20V4.00122H0V5.00122Z"
              fill="#233852"></path>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="max-w-[73rem] mx-auto py-32 gap-y-10 gap-x-[120px] grid grid-cols-3">
      <div class="space-y-3">
        <h3 class="heading-6">Our Purpose</h3>
        <hr class="opacity-60" />
        <p class="para opacity-60">
          Empowering People Through Building Innovative & Scalable Digital
          Infrastruture Solutions
        </p>
      </div>
      <div class="space-y-3">
        <h3 class="heading-6">Our Vision</h3>
        <hr class="opacity-60" />
        <p class="para opacity-60">
          To Be The Leading Digital Infrastruture Organization, Celebrated As An
          Employer Of Choice With Exceptional Governance
        </p>
      </div>
      <div class="space-y-3">
        <h3 class="heading-6">Our Values</h3>
        <hr class="opacity-60" />
        <ul class="para opacity-60 list-disc">
          <li>Entrepreneurial Mindset</li>
          <li>People Development</li>
          <li>Integrity & Trust</li>
          <li>Collaboration</li>
          <li>Customer Centricity</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="bg-primary-color">
    <div class="container py-24 md:py-32 text-white">
		<h1 class="heading-1 text-center ">Connecting India...</h1>
		<div class="flex mt-10 justify-between flex-wrap md:flex-nowrap">
			<div
			class="w-full pr-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#ffffff1a]"
		  >
			<h6 class="heading-6 text-center">5,971+</h6>
			<p class="para text-center">Small Cell Cites</p>
		  </div>
		  <div
			class="w-full px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#ffffff1a]"
		  >
			<h6 class="heading-6 text-center">2,07,522+</h6>
			<p class="para text-center">Homes passed</p>
		  </div>
		  <div
			class="w-full flex-grow px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#ffffff1a]"
		  >
			<h6 class="heading-6 text-center">10,879+</h6>
			<p class="para text-center">Kilometers of Fiber Laid</p>
		  </div>
		  <div
			class="w-full px-8 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#ffffff1a]"
		  >
			<h6 class="heading-6 text-center">3,700+</h6>
			<p class="para">Societies</p>
		  </div>
		  <div
			class="w-[50%] pl-5 py-5 flex flex-col gap-y-5 items-end justify-start"
		  >
			<h6 class="heading-6 text-center">500</h6>
			<p class="para">Cities</p>
		  </div>
		</div>
		
	</div>
</section>
<section class="bg-[#F5FAFE]">
	<div class="container py-24 lg:px-32 relative">
		<div class="w-full h-full">
			<IndiaMap />
		</div>
		
		<div class="max-w-[465px] absolute right-0 bottom-32 space-y-10">
			<h1 class="heading-1">Our Presence</h1>
			<p class="para">We've laid a robust foundation for our Network as a Service business. Our reach extends across 24 states and union territories, serving over 475 cities and towns in India. No matter where you are, CloudExtel is there to keep you connected.</p>
			<ul class="space-y-5">
				<li class="flex gap-2">
					<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="10.5" cy="10.5002" r="10.5" fill="#ADF0F5"/>
						</svg>
						
						State & Network Presence</li>
				<li class="flex gap-2">
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.1875 17.1877H8.9375V20.6252H6.1875V17.1877Z" fill="#1456A2"/>
						<path d="M16.5 11.6877C15.5883 11.6877 14.714 12.0498 14.0693 12.6945C13.4247 13.3392 13.0625 14.2135 13.0625 15.1252C13.0625 18.1846 15.9637 20.3983 16.0875 20.4877C16.2065 20.5769 16.3512 20.6252 16.5 20.6252C16.6488 20.6252 16.7935 20.5769 16.9125 20.4877C17.0363 20.3983 19.9375 18.1846 19.9375 15.1252C19.9375 14.2135 19.5753 13.3392 18.9307 12.6945C18.286 12.0498 17.4117 11.6877 16.5 11.6877ZM16.5 16.5002C16.1353 16.5002 15.7856 16.3553 15.5277 16.0975C15.2699 15.8396 15.125 15.4899 15.125 15.1252C15.125 14.7605 15.2699 14.4108 15.5277 14.1529C15.7856 13.895 16.1353 13.7502 16.5 13.7502C16.8647 13.7502 17.2144 13.895 17.4723 14.1529C17.7301 14.4108 17.875 14.7605 17.875 15.1252C17.875 15.4899 17.7301 15.8396 17.4723 16.0975C17.2144 16.3553 16.8647 16.5002 16.5 16.5002Z" fill="#1456A2"/>
						<path d="M13.0625 11.7633V2.75018C13.0625 2.38551 12.9176 2.03577 12.6598 1.77791C12.4019 1.52005 12.0522 1.37518 11.6875 1.37518H3.4375C3.07283 1.37518 2.72309 1.52005 2.46523 1.77791C2.20737 2.03577 2.0625 2.38551 2.0625 2.75018V19.9377C2.0625 20.12 2.13493 20.2949 2.26386 20.4238C2.3928 20.5528 2.56766 20.6252 2.75 20.6252H4.8125V16.5002C4.8125 16.3178 4.88493 16.143 5.01386 16.014C5.1428 15.8851 5.31766 15.8127 5.5 15.8127H9.625C9.80734 15.8127 9.9822 15.8851 10.1111 16.014C10.2401 16.143 10.3125 16.3178 10.3125 16.5002V20.6252H12.375C12.5573 20.6252 12.7322 20.5528 12.8611 20.4238C12.9901 20.2949 13.0625 20.12 13.0625 19.9377V19.2502C12.1978 18.0457 11.7184 16.6075 11.6875 15.1252C11.6891 13.868 12.1826 12.6613 13.0625 11.7633ZM6.1875 13.7502H5.5C5.31766 13.7502 5.1428 13.6778 5.01386 13.5488C4.88493 13.4199 4.8125 13.245 4.8125 13.0627C4.8125 12.8803 4.88493 12.7055 5.01386 12.5765C5.1428 12.4476 5.31766 12.3752 5.5 12.3752H6.1875C6.36984 12.3752 6.5447 12.4476 6.67364 12.5765C6.80257 12.7055 6.875 12.8803 6.875 13.0627C6.875 13.245 6.80257 13.4199 6.67364 13.5488C6.5447 13.6778 6.36984 13.7502 6.1875 13.7502ZM6.1875 11.0002H5.5C5.31766 11.0002 5.1428 10.9278 5.01386 10.7988C4.88493 10.6699 4.8125 10.495 4.8125 10.3127C4.8125 10.1303 4.88493 9.95548 5.01386 9.82655C5.1428 9.69762 5.31766 9.62518 5.5 9.62518H6.1875C6.36984 9.62518 6.5447 9.69762 6.67364 9.82655C6.80257 9.95548 6.875 10.1303 6.875 10.3127C6.875 10.495 6.80257 10.6699 6.67364 10.7988C6.5447 10.9278 6.36984 11.0002 6.1875 11.0002ZM6.1875 8.25018H5.5C5.31766 8.25018 5.1428 8.17775 5.01386 8.04882C4.88493 7.91989 4.8125 7.74502 4.8125 7.56268C4.8125 7.38035 4.88493 7.20548 5.01386 7.07655C5.1428 6.94762 5.31766 6.87518 5.5 6.87518H6.1875C6.36984 6.87518 6.5447 6.94762 6.67364 7.07655C6.80257 7.20548 6.875 7.38035 6.875 7.56268C6.875 7.74502 6.80257 7.91989 6.67364 8.04882C6.5447 8.17775 6.36984 8.25018 6.1875 8.25018ZM6.1875 5.50018H5.5C5.31766 5.50018 5.1428 5.42775 5.01386 5.29882C4.88493 5.16989 4.8125 4.99502 4.8125 4.81268C4.8125 4.63035 4.88493 4.45548 5.01386 4.32655C5.1428 4.19762 5.31766 4.12518 5.5 4.12518H6.1875C6.36984 4.12518 6.5447 4.19762 6.67364 4.32655C6.80257 4.45548 6.875 4.63035 6.875 4.81268C6.875 4.99502 6.80257 5.16989 6.67364 5.29882C6.5447 5.42775 6.36984 5.50018 6.1875 5.50018ZM9.625 13.7502H8.9375C8.75516 13.7502 8.5803 13.6778 8.45136 13.5488C8.32243 13.4199 8.25 13.245 8.25 13.0627C8.25 12.8803 8.32243 12.7055 8.45136 12.5765C8.5803 12.4476 8.75516 12.3752 8.9375 12.3752H9.625C9.80734 12.3752 9.9822 12.4476 10.1111 12.5765C10.2401 12.7055 10.3125 12.8803 10.3125 13.0627C10.3125 13.245 10.2401 13.4199 10.1111 13.5488C9.9822 13.6778 9.80734 13.7502 9.625 13.7502ZM9.625 11.0002H8.9375C8.75516 11.0002 8.5803 10.9278 8.45136 10.7988C8.32243 10.6699 8.25 10.495 8.25 10.3127C8.25 10.1303 8.32243 9.95548 8.45136 9.82655C8.5803 9.69762 8.75516 9.62518 8.9375 9.62518H9.625C9.80734 9.62518 9.9822 9.69762 10.1111 9.82655C10.2401 9.95548 10.3125 10.1303 10.3125 10.3127C10.3125 10.495 10.2401 10.6699 10.1111 10.7988C9.9822 10.9278 9.80734 11.0002 9.625 11.0002ZM9.625 8.25018H8.9375C8.75516 8.25018 8.5803 8.17775 8.45136 8.04882C8.32243 7.91989 8.25 7.74502 8.25 7.56268C8.25 7.38035 8.32243 7.20548 8.45136 7.07655C8.5803 6.94762 8.75516 6.87518 8.9375 6.87518H9.625C9.80734 6.87518 9.9822 6.94762 10.1111 7.07655C10.2401 7.20548 10.3125 7.38035 10.3125 7.56268C10.3125 7.74502 10.2401 7.91989 10.1111 8.04882C9.9822 8.17775 9.80734 8.25018 9.625 8.25018ZM9.625 5.50018H8.9375C8.75516 5.50018 8.5803 5.42775 8.45136 5.29882C8.32243 5.16989 8.25 4.99502 8.25 4.81268C8.25 4.63035 8.32243 4.45548 8.45136 4.32655C8.5803 4.19762 8.75516 4.12518 8.9375 4.12518H9.625C9.80734 4.12518 9.9822 4.19762 10.1111 4.32655C10.2401 4.45548 10.3125 4.63035 10.3125 4.81268C10.3125 4.99502 10.2401 5.16989 10.1111 5.29882C9.9822 5.42775 9.80734 5.50018 9.625 5.50018Z" fill="#1456A2"/>
						</svg>
						
					Offices</li>
			</ul>
		</div>
	</div>
</section>
  
</Layout>
