---
import Layout from "../layouts/Layout.astro";
// import IndiaMap from "../components/IndiaMap.astro";
import LocationMap from "../components/LocationMap.astro";
import CountUpCustom from "../components/CountUp";
import LinkedInSlider from "../components/LinkedInSlider";
---

<Layout title="CloudExtel | Home">
  <main class="bg-grey h-screen w-screen relative overflow-hidden">
    <div
      class="w-full h-full bg-[#233852A3] z-[10] absolute flex justify-center items-center"
    >
      <h1
        data-aos="fade-up"
        data-aos-duration="500"
        class="max-w-[1166px] md:text-[80px] text-[48px] text-center text-white font-bold lg:leading-snug"
      >
        India’s Leading<br />
        Network as a Service (NaaS) Provider
      </h1>
      <!-- <button
        class=" absolute left-[50%] translate-x-[-50%] bottom-10 text-white flex items-center animate-bounce cursor-pointer"
        id="scrollDown"
      >
        Scroll Down
        <i class="rotate-90 text-center flex items-center">
          <svg
            width="17"
            height="8"
            viewBox="0 0 17 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="fill-white hover:fill-[#233852]"
          >
            <path
              d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z"
              class="fill-white hover:fill-[#233852]"></path>
          </svg>
        </i>
      </button> -->
    </div>
    <video
      src="/images/coverVideo.mp4"
      autoplay
      muted
      loop
      class="min-h-screen w-auto md:w-screen h-screen md:h-auto object-cover"
    >
      <source src="/images/coverVideo.mp4" />
    </video>
  </main>
  <section class="container" id="what-we-do">
    <div class="max-w-[67rem] py-32 mx-auto space-y-10">
      <h1
        class="heading-1 text-center"
        data-aos="fade-up"
        data-aos-easing="ease-in"
      >
        What We Do
      </h1>
      <h3 class="heading-3 text-center fade">
        At CloudExtel, we're reinventing the Digital Infrastructure with our
        cutting-edge solutions like
      </h3>
      <div class="flex flex-wrap justify-center">
        <div
          class="w-1/2 md:w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#2338523D]"
        >
          <svg
          class="h-[40px]"
            width="41"
            height="40"
            viewBox="0 0 41 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3771)">
              <path
                d="M20.5098 6.74438C18.0462 6.74438 16.042 8.7486 16.042 11.2122C16.042 13.6758 18.0462 15.68 20.5098 15.68C22.973 15.68 24.978 13.6758 24.978 11.2122C24.9781 8.7486 22.9734 6.74438 20.5098 6.74438ZM20.5098 13.151C19.4405 13.151 18.571 12.2815 18.571 11.2122C18.571 10.1429 19.4409 9.27336 20.5098 9.27336C21.5791 9.27336 22.4491 10.1429 22.4491 11.2122C22.4491 12.2815 21.5792 13.151 20.5098 13.151Z"
                fill="#1456A2"></path>
              <path
                d="M15.5446 6.24756C16.0386 5.75397 16.0386 4.95319 15.5446 4.4596C15.051 3.96562 14.2502 3.96562 13.7566 4.4596C10.0336 8.18303 10.0336 14.2415 13.7566 17.965C14.0036 18.212 14.3273 18.3355 14.651 18.3355C14.9743 18.3355 15.298 18.212 15.5446 17.9654C16.0382 17.4714 16.0382 16.6706 15.5446 16.1771C12.8074 13.4395 12.8074 8.98514 15.5446 6.24756Z"
                fill="#1456A2"></path>
              <path
                d="M27.2625 4.45945C26.7685 3.96586 25.9685 3.96547 25.4745 4.45945C24.9805 4.95344 24.9805 5.75383 25.4745 6.24781C26.8051 7.57843 27.5381 9.34155 27.5381 11.2121C27.5381 13.0826 26.8051 14.8458 25.4745 16.1769C24.9805 16.6704 24.9805 17.4712 25.4745 17.9648C25.7215 18.2118 26.0448 18.3353 26.3685 18.3353C26.6918 18.3353 27.0154 18.2118 27.2625 17.9648C29.071 16.1562 30.0671 13.7583 30.0671 11.2121C30.0671 8.66593 29.071 6.26804 27.2625 4.45945Z"
                fill="#1456A2"></path>
              <path
                d="M7.68613 11.2335C7.68613 7.81347 9.02519 4.59121 11.4568 2.15919C11.9508 1.66559 11.9508 0.864813 11.4568 0.37122C10.9632 -0.122763 10.1625 -0.122763 9.66886 0.37122C6.75933 3.28035 5.15723 7.13824 5.15723 11.2335C5.15723 15.3291 6.75933 19.1866 9.66886 22.0957C9.91542 22.3427 10.2392 22.4662 10.5628 22.4662C10.8861 22.4662 11.2103 22.3427 11.4568 22.0957C11.9508 21.6017 11.9508 20.8013 11.4568 20.3077C9.02527 17.8761 7.68613 14.6534 7.68613 11.2335Z"
                fill="#1456A2"></path>
              <path
                d="M31.3508 0.370683C30.8569 -0.12291 30.0569 -0.12291 29.5629 0.370683C29.0689 0.864666 29.0689 1.66552 29.5629 2.15904C34.566 7.16254 34.566 15.3041 29.5629 20.3076C29.0689 20.8012 29.0689 21.602 29.5629 22.0956C29.8099 22.3426 30.1332 22.466 30.4569 22.466C30.7805 22.466 31.1038 22.3425 31.3508 22.0951C37.3403 16.1058 37.3403 6.36012 31.3508 0.370683Z"
                fill="#1456A2"></path>
              <path
                d="M17.2777 21.6675L15.4727 23.4385L28.5807 36.7992L30.3858 35.0283L17.2777 21.6675Z"
                fill="#1456A2"></path>
              <path
                d="M23.7833 21.6659L10.6313 35.0278L12.4337 36.8019L25.5857 23.44L23.7833 21.6659Z"
                fill="#1456A2"></path>
              <path
                d="M31.6892 38.3078L22.8801 13.8187C22.6436 13.1616 21.9208 12.821 21.262 13.057C20.6049 13.2931 20.2639 14.0176 20.5003 14.6747L29.3095 39.1637C29.495 39.6792 29.9814 40.0003 30.4994 40.0003C30.6414 40.0003 30.7856 39.9764 30.9272 39.9257C31.5843 39.6889 31.9257 38.9653 31.6892 38.3078Z"
                fill="#1456A2"></path>
              <path
                d="M19.8013 13.057C19.1463 12.821 18.4196 13.1595 18.1823 13.8166L9.33098 38.3056C9.09371 38.9623 9.4334 39.6872 10.0905 39.9246C10.2325 39.976 10.3775 40.0004 10.5204 40.0004C11.0376 40.0004 11.5236 39.6805 11.7095 39.165L20.5608 14.676C20.7981 14.0193 20.4584 13.2944 19.8013 13.057Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3771">
                <rect
                  width="40"
                  height="40"
                  fill="white"
                  transform="translate(0.5 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>
          <h6 class="heading-6 text-center">Small Cell Hosting</h6>
        </div>
        <div
          class=" w-1/2 md:w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start md:border-r border-[#2338523D] gap-2 "
        >
    
        
          <svg class="h-[40px]"
            width="39"
            height="38"
            viewBox="0 0 39 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.075 17.1505H20.0625C19.875 17.1317 19.6875 17.1255 19.5 17.1255C18.196 17.1249 16.9186 17.4953 15.8171 18.1933C14.7156 18.8913 13.8353 19.8882 13.279 21.0676C12.7227 22.2471 12.5133 23.5604 12.6753 24.8544C12.8373 26.1483 13.3639 27.3696 14.1938 28.3755"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M23.9158 15.0255C22.6416 14.4014 21.2492 14.0556 19.8311 14.011C18.413 13.9665 17.0017 14.2242 15.6908 14.7671C14.38 15.3099 13.1997 16.1255 12.2283 17.1597C11.2569 18.1938 10.5167 19.4228 10.0569 20.765C9.59704 22.1073 9.42808 23.532 9.56122 24.9445C9.69436 26.357 10.1266 27.7251 10.8291 28.9577C11.5316 30.1904 12.4884 31.2594 13.6359 32.0939C14.7834 32.9283 16.0953 33.509 17.4845 33.7974"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M22.4737 14.4499C13.7544 12.533 4.33312 5.94549 0.75 1.50049"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M12.9625 31.5692C8.70625 28.1192 3.5625 23.2442 0.75 19.6255"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M22.625 24.0005C23.6605 24.0005 24.5 23.161 24.5 22.1255C24.5 21.09 23.6605 20.2505 22.625 20.2505C21.5895 20.2505 20.75 21.09 20.75 22.1255C20.75 23.161 21.5895 24.0005 22.625 24.0005Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M30.125 20.2505C31.1605 20.2505 32 19.411 32 18.3755C32 17.34 31.1605 16.5005 30.125 16.5005C29.0895 16.5005 28.25 17.34 28.25 18.3755C28.25 19.411 29.0895 20.2505 30.125 20.2505Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M36.375 24.6255C37.4105 24.6255 38.25 23.786 38.25 22.7505C38.25 21.715 37.4105 20.8755 36.375 20.8755C35.3395 20.8755 34.5 21.715 34.5 22.7505C34.5 23.786 35.3395 24.6255 36.375 24.6255Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M35.75 32.1255C36.7855 32.1255 37.625 31.286 37.625 30.2505C37.625 29.215 36.7855 28.3755 35.75 28.3755C34.7145 28.3755 33.875 29.215 33.875 30.2505C33.875 31.286 34.7145 32.1255 35.75 32.1255Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M29.5 28.3755C30.5355 28.3755 31.375 27.536 31.375 26.5005C31.375 25.465 30.5355 24.6255 29.5 24.6255C28.4645 24.6255 27.625 25.465 27.625 26.5005C27.625 27.536 28.4645 28.3755 29.5 28.3755Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M29.5 36.5005C30.5355 36.5005 31.375 35.661 31.375 34.6255C31.375 33.59 30.5355 32.7505 29.5 32.7505C28.4645 32.7505 27.625 33.59 27.625 34.6255C27.625 35.661 28.4645 36.5005 29.5 36.5005Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M21.375 33.3755C22.4105 33.3755 23.25 32.536 23.25 31.5005C23.25 30.465 22.4105 29.6255 21.375 29.6255C20.3395 29.6255 19.5 30.465 19.5 31.5005C19.5 32.536 20.3395 33.3755 21.375 33.3755Z"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M21.375 29.6254C18.9459 28.4961 16.7998 26.8382 15.0938 24.7729"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M20.1875 32.9461C20.1875 32.9461 15.57 30.2311 14.1963 28.3755"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M19.5 17.1255C20.7587 17.2417 27.5881 16.728 30.125 16.5005"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M30.125 20.2505H26.375"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M36.375 20.8755H33.25"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M22.625 20.2505C21.1529 20.1535 19.6904 19.9445 18.25 19.6255"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M22.0194 23.8986C22.0194 23.8986 18.9944 22.938 15.75 21.5005"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M29.5 24.6255L26.375 24.0005"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M29.5 28.3755C27.59 28.3755 22.8056 26.7505 18.875 25.2505"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M35.75 28.3755L33.25 27.7505"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M35.75 32.1255C35.125 32.1255 29.5 30.2505 29.5 30.2505"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M29.5 32.7505C28.18 32.0273 26.9253 31.1908 25.75 30.2505"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M28.7819 36.3574C28.7819 36.3574 25.75 34.0005 25.125 33.3755"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M36.375 24.6255L32.625 24.0005"
              stroke="#1456A2"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
  

       
          <h6 class="heading-6 text-center">Fiber</h6>
        </div>

        <div
          class="w-1/2 md:w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start border-r border-[#2338523D]"
        >
          <svg
          class="h-[40px]"
            width="51"
            height="32"
            viewBox="0 0 51 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3929)">
              <path
                d="M21.4866 28.4586C20.5649 28.4586 19.6963 28.4586 18.8249 28.4586C16.5011 28.4586 14.1774 28.4586 11.8508 28.4586C11.2671 28.4586 11.0771 28.2659 11.0771 27.671C11.0771 25.3361 11.0771 23.0011 11.0771 20.6662C11.0771 20.0266 11.2559 19.845 11.8899 19.845C14.9398 19.845 17.9898 19.8423 21.0425 19.8395C21.1738 19.8395 21.3051 19.8395 21.481 19.8395C21.481 19.6914 21.481 19.5713 21.481 19.4512C21.481 18.4011 21.481 17.3509 21.4866 16.3007C21.4866 15.8427 21.7156 15.5718 22.0871 15.5718C22.4614 15.5718 22.6792 15.8399 22.6792 16.3035C22.6792 17.6442 22.6792 18.9848 22.6736 20.3254C22.6736 20.8254 22.4641 21.0293 21.9558 21.0321C18.8724 21.0321 15.7889 21.0321 12.7027 21.0321C12.5714 21.0321 12.4401 21.0321 12.2893 21.0321V27.266H12.6859C15.747 27.266 18.8081 27.266 21.872 27.266C22.506 27.266 22.6792 27.4448 22.6792 28.0871C22.6792 28.844 22.6792 29.6009 22.6792 30.3858H45.4867C45.4867 30.2517 45.4867 30.1148 45.4867 29.9752C45.4867 25.4617 45.4867 20.9483 45.4867 16.4348C45.4867 16.3231 45.4783 16.2114 45.4923 16.0997C45.5286 15.7896 45.78 15.5718 46.0844 15.5718C46.3916 15.5718 46.6374 15.7924 46.6737 16.1024C46.6849 16.1918 46.6793 16.2812 46.6793 16.3706C46.6793 21.1745 46.6793 25.9784 46.6793 30.7824C46.6793 31.4164 46.4922 31.6035 45.8638 31.6035C38.0071 31.6035 30.1532 31.6035 22.2966 31.6035C21.6737 31.6035 21.4838 31.408 21.4838 30.7768C21.4838 30.0199 21.4838 29.2602 21.4838 28.4558L21.4866 28.4586Z"
                fill="#1456A2"></path>
              <path
                d="M27.472 3.74356C26.9441 3.74356 26.4665 3.74356 25.9889 3.74356C25.5253 3.74356 25.2488 3.52292 25.246 3.15983C25.2404 2.78557 25.5309 2.55096 26.0085 2.55096C26.6341 2.55096 27.2597 2.55096 27.8854 2.55096C27.9943 2.55096 28.1032 2.53979 28.2289 2.5342V1.62369H23.1624V2.55375C23.3328 2.55375 23.4948 2.55375 23.6596 2.55375C23.9556 2.55375 24.1875 2.67106 24.2852 2.96153C24.3802 3.24641 24.2768 3.46985 24.0478 3.67095C23.9528 3.75194 23.9026 3.93069 23.9026 4.06476C23.8942 6.39969 23.8914 8.73463 23.9026 11.0696C23.9026 11.4438 23.7964 11.7175 23.5199 11.9801C21.9363 13.4771 20.3694 14.9881 18.7998 16.4991C18.5931 16.7002 18.3725 16.8287 18.082 16.7309C17.6547 16.5913 17.5429 16.0662 17.8809 15.7255C18.3697 15.2367 18.8752 14.7619 19.3751 14.2815C20.4141 13.2844 21.4587 12.2901 22.4921 11.2846C22.5927 11.1869 22.6904 11.0277 22.6904 10.8964C22.7016 8.57263 22.6988 6.24887 22.6988 3.92511C22.6988 3.88042 22.6876 3.83852 22.6848 3.79663C21.9726 3.59274 21.9391 3.54526 21.9475 2.79953C21.9531 2.22977 21.9475 1.66 21.9475 1.09023C21.9475 0.618214 22.1709 0.394775 22.6485 0.394775C24.6706 0.394775 26.6928 0.394775 28.7149 0.394775C29.2288 0.394775 29.4494 0.618214 29.4494 1.13212C29.4494 1.72424 29.4494 2.31635 29.4494 2.90846C29.4494 3.52012 29.3265 3.66536 28.7037 3.77708V5.31601C28.8154 5.21826 28.8964 5.15123 28.9718 5.07861C30.4884 3.62626 32.005 2.17111 33.5188 0.718762C33.9685 0.288642 34.2115 0.288642 34.6528 0.710383C39.8226 5.66514 44.9924 10.6227 50.1594 15.5774C50.2404 15.6556 50.3242 15.7311 50.3884 15.8204C50.5644 16.0662 50.5393 16.3762 50.3326 16.5857C50.1315 16.7896 49.8075 16.8203 49.5645 16.6527C49.5003 16.608 49.4444 16.5522 49.3885 16.4991C44.3751 11.6896 39.3589 6.87729 34.3455 2.06777C34.2673 1.99236 34.1835 1.91974 34.0886 1.83316C33.3261 2.56213 32.5776 3.27993 31.8291 3.99772C30.0164 5.73775 28.2038 7.47778 26.3911 9.2206C26.1872 9.41611 25.947 9.58649 25.6789 9.42449C25.5113 9.32395 25.3382 9.11168 25.3102 8.93013C25.2851 8.75976 25.4108 8.51957 25.5448 8.38271C26.1062 7.80735 26.7039 7.26831 27.2709 6.69854C27.3798 6.58682 27.4636 6.3969 27.4692 6.24328C27.4888 5.43053 27.4776 4.61497 27.4776 3.74356H27.472Z"
                fill="#1456A2"></path>
              <path
                d="M4.61685 23.8446V24.4507C4.73974 24.4507 4.85704 24.4507 4.97435 24.4507C6.63897 24.4507 8.30359 24.4507 9.971 24.4507C10.3955 24.4507 10.6637 24.6993 10.6497 25.0624C10.6385 25.3891 10.3927 25.6349 10.0269 25.6377C8.02708 25.6433 6.0273 25.6461 4.02473 25.6377C3.6002 25.6377 3.45496 25.4282 3.36838 24.7579C3.23711 24.7523 3.09746 24.7412 2.95781 24.7412C2.37687 24.7412 1.79593 24.7412 1.21499 24.7412C0.756942 24.7384 0.491609 24.5038 0.502781 24.1267C0.51116 23.7692 0.770907 23.5597 1.22616 23.5541C1.81828 23.5486 2.41039 23.5541 3.0025 23.5541C3.1226 23.5541 3.2427 23.5541 3.37397 23.5541C3.38793 23.4424 3.39631 23.367 3.40469 23.2916C3.45217 22.8531 3.65885 22.6548 4.10573 22.6548C5.25644 22.652 6.40715 22.6548 7.55786 22.6548C8.35107 22.6548 9.14427 22.6548 9.93748 22.6548C10.3676 22.6548 10.6441 22.8894 10.6525 23.2413C10.6609 23.6072 10.3788 23.8474 9.92631 23.8474C8.29521 23.8474 6.6641 23.8474 5.03021 23.8474C4.89894 23.8474 4.76767 23.8474 4.61405 23.8474L4.61685 23.8446Z"
                fill="#1456A2"></path>
              <path
                d="M5.63332 18.1637C5.74225 18.0967 5.85117 18.0129 5.97127 17.9654C6.25057 17.8537 6.52987 17.8956 6.68348 18.1581C7.37894 19.3507 8.53802 19.806 9.77252 20.1607C9.87028 20.1886 9.96803 20.2026 10.0658 20.2333C10.4037 20.3394 10.5881 20.6439 10.5015 20.9539C10.4093 21.289 10.1189 21.4622 9.74739 21.3756C8.32855 21.0461 7.03261 20.4902 6.0383 19.3507C5.87631 19.4624 5.72549 19.5658 5.55791 19.6803C5.88469 20.183 6.29247 20.5489 6.77844 20.8338C6.87341 20.8896 6.97675 20.9343 7.07171 20.9958C7.35659 21.1773 7.44876 21.4985 7.30353 21.7806C7.16108 22.0599 6.83151 22.1884 6.52987 22.0487C5.48809 21.5655 4.74236 20.764 4.19214 19.778C4.0497 19.5239 4.1279 19.2781 4.33458 19.0798C4.41279 19.0044 4.50496 18.9401 4.60271 18.8591C4.36531 18.5156 4.13628 18.1888 3.91005 17.8565C3.68103 17.5157 3.71454 17.1694 3.99384 16.9655C4.28152 16.7532 4.64181 16.8342 4.88759 17.175C5.11662 17.4906 5.34006 17.8118 5.56629 18.1302C5.57746 18.1469 5.6026 18.1525 5.63332 18.1693V18.1637Z"
                fill="#1456A2"></path>
              <path
                d="M5.59697 30.0954C5.35957 30.4361 5.13334 30.7685 4.89873 31.0953C4.65015 31.4416 4.29544 31.531 4.00776 31.3299C3.7145 31.126 3.67819 30.7685 3.92118 30.4138C4.14183 30.0898 4.36527 29.7714 4.58591 29.4586C4.57474 29.4251 4.57474 29.3972 4.56078 29.3832C4.02173 28.9307 4.00218 28.7715 4.38761 28.1766C4.90152 27.3834 5.5467 26.7354 6.39297 26.2969C6.7784 26.0986 7.12194 26.1685 7.2979 26.4841C7.47386 26.8025 7.35097 27.1293 6.96833 27.3359C6.40973 27.6376 5.93492 28.0314 5.56066 28.59C5.71707 28.7017 5.86789 28.8078 6.03826 28.9279C7.00464 27.8052 8.28382 27.2577 9.67194 26.9142C10.1076 26.8081 10.4232 26.9673 10.5098 27.3387C10.5908 27.6795 10.3702 27.928 9.95123 28.0733C9.2893 28.3023 8.6106 28.5146 7.99894 28.8441C7.57161 29.0732 7.19177 29.4474 6.88733 29.8329C6.40414 30.4445 6.28684 30.506 5.59697 30.0898V30.0954Z"
                fill="#1456A2"></path>
              <path
                d="M33.7643 16.3943H34.1677C36.5579 16.3943 38.5 18.6452 38.5 21.4153V30.3943H29.5V21.3391C29.5 18.6098 31.4116 16.3943 33.7666 16.3943H33.7643Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3929">
                <rect
                  width="50"
                  height="31.2116"
                  fill="white"
                  transform="translate(0.5 0.394775)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h6 class="heading-6 text-center">FTTH</h6>
        </div>
        <div
          class="w-1/2 md:w-[251px] px-11 py-5 flex flex-col gap-y-5 items-center justify-start"
        >
          <svg
            width="41"
            height="40"
            viewBox="0 0 41 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_5155_3938)">
              <path
                d="M9.51188 31.7871C5.27414 28.4104 2.84375 23.3682 2.84375 17.9535C2.84375 12.539 5.27398 7.49688 9.51156 4.12016C10.0177 3.7168 10.101 2.97945 9.69766 2.47336C9.29438 1.96719 8.55703 1.88383 8.05086 2.28719C3.25219 6.11117 0.5 11.8213 0.5 17.9535C0.5 24.0859 3.25227 29.7962 8.05125 33.6201C8.55711 34.0233 9.29453 33.9402 9.69805 33.4339C10.1013 32.9277 10.018 32.1905 9.51188 31.7871Z"
                fill="#1456A2"></path>
              <path
                d="M32.9492 2.2874C32.443 1.88412 31.7058 1.9674 31.3024 2.47357C30.8991 2.97974 30.9824 3.71701 31.4885 4.12037C35.7259 7.49717 38.1562 12.5392 38.1562 17.9537C38.1562 23.3682 35.726 28.4102 31.4885 31.7869C30.9823 32.1903 30.899 32.9276 31.3024 33.4337C31.7059 33.9401 32.4433 34.0229 32.9492 33.6199C37.7477 29.7959 40.4999 24.0858 40.4999 17.9537C40.4999 11.8215 37.7477 6.11138 32.9492 2.2874Z"
                fill="#1456A2"></path>
              <path
                d="M13.4168 26.8957C10.6695 24.7104 9.09375 21.4511 9.09375 17.9536C9.09375 14.4561 10.6695 11.1968 13.4169 9.01146C13.9234 8.60857 14.0074 7.87138 13.6045 7.36482C13.2015 6.85825 12.4643 6.77427 11.9578 7.17716C8.6482 9.80974 6.75 13.7376 6.75 17.9536C6.75 22.1697 8.6482 26.0975 11.9577 28.73C12.4646 29.133 13.2016 29.0486 13.6044 28.5423C14.0073 28.0358 13.9233 27.2986 13.4168 26.8957Z"
                fill="#1456A2"></path>
              <path
                d="M29.0422 7.17713C28.5356 6.77431 27.7985 6.85822 27.3955 7.36478C26.9926 7.87127 27.0766 8.60853 27.5831 9.01142C30.3305 11.1967 31.9062 14.4559 31.9062 17.9535C31.9062 21.451 30.3305 24.7103 27.583 26.8956C27.0766 27.2985 26.9925 28.0356 27.3955 28.5422C27.7986 29.049 28.5359 29.1325 29.0421 28.7299C32.3517 26.0973 34.2499 22.1695 34.2499 17.9535C34.2499 13.7374 32.3517 9.80963 29.0422 7.17713Z"
                fill="#1456A2"></path>
              <path
                d="M20.5 12.1099C17.2691 12.1099 14.6406 14.7384 14.6406 17.9692C14.6406 20.7988 16.6569 23.1663 19.3281 23.7107V36.7974C19.3281 37.4446 19.8528 37.9692 20.5 37.9692C21.1472 37.9692 21.6719 37.4446 21.6719 36.7974V23.7107C24.3431 23.1663 26.3594 20.7989 26.3594 17.9692C26.3594 14.7384 23.7309 12.1099 20.5 12.1099ZM20.5 21.4849C18.5615 21.4849 16.9844 19.9078 16.9844 17.9692C16.9844 16.0307 18.5615 14.4536 20.5 14.4536C22.4385 14.4536 24.0156 16.0307 24.0156 17.9692C24.0156 19.9078 22.4385 21.4849 20.5 21.4849Z"
                fill="#1456A2"></path>
            </g>
            <defs>
              <clipPath id="clip0_5155_3938">
                <rect
                  width="40"
                  height="40"
                  fill="white"
                  transform="translate(0.5 0.000488281)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h6 class="heading-6 text-center">Virtualized Networks</h6>
        </div>
      </div>
      <p class="para text-center">
        Our journey began with an idea to enable better connectivity for
        everyone. From day one, we set out to redefine how networks operate,
        focusing on creating flexible, scalable solutions that meet the unique
        needs of the digital age. Today, we are proud to lead the industry with
        our innovative approach to small-cell deployment, fibre-optic networks,
        and neutral host services.
      </p>
      <p class="para text-center">
        We empower telecom operators, internet providers, data centers,
        enterprises, and content providers to tackle the explosive data demands
        in India with ease and efficiency. Our state-of-the-art networks
        alleviate stress points, promote sharing, and embrace the latest in
        heterogeneous network technologies, ensuring the best connectivity
        experience possible.
      </p>
    </div>
  </section>
  <section class="bg-primary-color">
    <div class="container">
      <div class="max-w-[73rem] py-32 mx-auto space-y-10">
        <div
          class="w-full gap-y-10 gap-x-[120px] grid grid-cols-1 md:grid-cols-2 grid-rows-2"
        >
          <div class="text-white space-y-3">
            <img src="/images/signal-tower-white.png" alt="" />
            <h3 class="heading-6">Small Cell Hosting</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Future-ready sites that are drivers of next-gen connectivity,
              transforming high-density areas with superior signal strength and
              sufficient capacity.
            </p>
          </div>
          <div class="text-white space-y-3">
            <img src="/images/Layer_1.png" alt="" />
            <h3 class="heading-6">FTTH (Fiber To The Home)</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Internet coming directly to your doorstep with blazing speed,
              connecting all your devices so you can enjoy an ultra-modern
              living experience.
            </p>
          </div>
          <div class="text-white space-y-3">
            <img src="/images/internet.png" alt="" />
            <h3 class="heading-6">Fiber</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Extensive underground and overhead fiber network spanning across
              India, powering 4G, 5G towers, and enterprises.
            </p>
          </div>
          <div class="text-white space-y-3">
            <img src="/images/radio.png" alt="" />
            <h3 class="heading-6">Virtualized/Shared Radio Networks</h3>
            <hr class="opacity-60" />
            <p class="para opacity-60">
              Transforming telecom with scalable, end-to-end virtualized
              networks that solve coverage and capacity challenges through an
              active shared architecture.
            </p>
          </div>
        </div>
        <a
          href="/our-solutions"
          class="group flex w-fit gap-2 items-center font-medium bg-white border border-white rounded-full px-6 py-4 ml-auto hover:bg-inherit hover:text-white group-hover:fill-white transition"
        >
          Know More
          <svg
            width="21"
            height="9"
            viewBox="0 0 21 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="transition group-hover:fill-white"
          >
            <path
              class="fill-[#233852] group-hover:fill-white transition"
              d="M20.3536 4.85477C20.5488 4.65951 20.5488 4.34293 20.3536 4.14767L17.1716 0.965687C16.9763 0.770425 16.6597 0.770425 16.4645 0.965687C16.2692 1.16095 16.2692 1.47753 16.4645 1.67279L19.2929 4.50122L16.4645 7.32965C16.2692 7.52491 16.2692 7.84149 16.4645 8.03675C16.6597 8.23202 16.9763 8.23202 17.1716 8.03675L20.3536 4.85477ZM0 5.00122H20V4.00122H0V5.00122Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section class="container">
    <div
      class="max-w-[73rem] mx-auto py-32 gap-y-10 gap-x-[120px] grid grid-cols-1 md:grid-cols-3"
    >
      <div class="space-y-3" data-aos="fade-in-up" data-aos-duration="300">
        <h3 class="heading-6">Our Purpose</h3>
        <hr class="opacity-60" />
        <p class="para">
          Empowering People Through Building Innovative & Scalable Digital
          Infrastructure Solutions
        </p>
      </div>
      <div
        class="space-y-3"
        data-aos="fade-in-up"
        data-aos-duration="300"
        data-aos-offs="200"
      >
        <h3 class="heading-6">Our Vision</h3>
        <hr class="opacity-60" />
        <p class="para">
          To Be The Leading Digital Infrastructure Organization, Celebrated As
          An Employer Of Choice With Exceptional Governance
        </p>
      </div>
      <div
        class="space-y-3"
        data-aos="fade-in-up"
        data-aos-duration="300"
        data-aos-offs="500"
      >
        <h3 class="heading-6">Our Values</h3>
        <hr class="opacity-60" />
        <ul class="para list-disc ml-4">
          <li><b>E</b>ntrepreneurial Mindset</li>
          <li><b>P</b>eople Development</li>
          <li><b>I</b>ntegrity & Trust</li>
          <li><b>C</b>ollaboration</li>
          <li><b>C</b>ustomer Centricity</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="bg-primary-color">
    <div class="container py-24 md:py-32 text-white">
      <h1 class="heading-1 text-center">Connecting India...</h1>
      <div
        class="flex mt-10 justify-between flex-wrap md:flex-nowrap counter-section"
      >
        <div
          class="w-full pr-11 py-5 flex flex-col gap-y-5 items-center justify-start md:border-r border-[#ffffff1a]"
        >
          <h6 class="heading-6 text-center flex">
            <!-- <CountUp client:load start={0} end={6090} duration={3000} />+ -->
          </h6>
          <p class="para text-center">Small Cell Cites</p>
        </div>
        <div
          class="w-full px-11 py-5 flex flex-col gap-y-5 items-center justify-start md:border-r border-[#ffffff1a]"
        >
          <h6 class="heading-6 text-center flex">
            <!-- <CountUpCustom />
          </h6>
          <p class="para text-center">Homes Passed</p>
        </div>
        <div
          class="w-full flex-grow px-11 py-5 flex flex-col gap-y-5 items-center justify-start md:border-r border-[#ffffff1a]"
        >
          <h6 class="heading-6 text-center flex">
            <!-- <CountUpCustom client:load start={0} end={11422} duration={3000} />+ -->
          </h6>
          <p class="para text-center">Kilometers of Fiber Laid</p>
        </div>
        <div
          class="w-full px-8 py-5 flex flex-col gap-y-5 items-center justify-start md:border-r border-[#ffffff1a]"
        >
          <h6 class="heading-6 text-center flex">
            <!-- <CountUpCustom client:load start={0} end={3700} duration={3000} />+ -->
          </h6>
          <p class="para">Societies</p>
        </div>
        <div
          class="w-full md:w-[50%] pl-5 py-5 flex flex-col gap-y-5 items-center md:items-end justify-start"
        >
          <h6 class="heading-6 text-center flex">
            <!-- <CountUpCustom client:load start={0} end={500} duration={3000} /> -->
          </h6>
          <p class="para">Cities</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-[#F5FAFE]">
    <div class="container py-24 lg:px-32 relative">
      <div class="w-full md:w-[55%] h-full">
        <LocationMap />
      </div>

      <div
        class="max-w-[465px] relative md:absolute md:right-10 md:bottom-32 space-y-10"
      >
        <h1 class="heading-1">Our Presence</h1>
        <p class="para">
          We've laid a robust foundation for our Network as a Service(Naas)
          business. Our reach extends across 27 states and union territories,
          serving over 500 cities and towns in India. No matter where you are,
          CloudExtel is there to keep you connected.
        </p>
        <ul class="space-y-5">
          <li class="flex gap-2">
            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10.5" cy="10.5002" r="10.5" fill="#ADF0F5"></circle>
            </svg>

            State & Network Presence
          </li>
          <li class="flex gap-2">
            <svg
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.1875 17.1877H8.9375V20.6252H6.1875V17.1877Z"
                fill="#1456A2"></path>
              <path
                d="M16.5 11.6877C15.5883 11.6877 14.714 12.0498 14.0693 12.6945C13.4247 13.3392 13.0625 14.2135 13.0625 15.1252C13.0625 18.1846 15.9637 20.3983 16.0875 20.4877C16.2065 20.5769 16.3512 20.6252 16.5 20.6252C16.6488 20.6252 16.7935 20.5769 16.9125 20.4877C17.0363 20.3983 19.9375 18.1846 19.9375 15.1252C19.9375 14.2135 19.5753 13.3392 18.9307 12.6945C18.286 12.0498 17.4117 11.6877 16.5 11.6877ZM16.5 16.5002C16.1353 16.5002 15.7856 16.3553 15.5277 16.0975C15.2699 15.8396 15.125 15.4899 15.125 15.1252C15.125 14.7605 15.2699 14.4108 15.5277 14.1529C15.7856 13.895 16.1353 13.7502 16.5 13.7502C16.8647 13.7502 17.2144 13.895 17.4723 14.1529C17.7301 14.4108 17.875 14.7605 17.875 15.1252C17.875 15.4899 17.7301 15.8396 17.4723 16.0975C17.2144 16.3553 16.8647 16.5002 16.5 16.5002Z"
                fill="#1456A2"></path>
              <path
                d="M13.0625 11.7633V2.75018C13.0625 2.38551 12.9176 2.03577 12.6598 1.77791C12.4019 1.52005 12.0522 1.37518 11.6875 1.37518H3.4375C3.07283 1.37518 2.72309 1.52005 2.46523 1.77791C2.20737 2.03577 2.0625 2.38551 2.0625 2.75018V19.9377C2.0625 20.12 2.13493 20.2949 2.26386 20.4238C2.3928 20.5528 2.56766 20.6252 2.75 20.6252H4.8125V16.5002C4.8125 16.3178 4.88493 16.143 5.01386 16.014C5.1428 15.8851 5.31766 15.8127 5.5 15.8127H9.625C9.80734 15.8127 9.9822 15.8851 10.1111 16.014C10.2401 16.143 10.3125 16.3178 10.3125 16.5002V20.6252H12.375C12.5573 20.6252 12.7322 20.5528 12.8611 20.4238C12.9901 20.2949 13.0625 20.12 13.0625 19.9377V19.2502C12.1978 18.0457 11.7184 16.6075 11.6875 15.1252C11.6891 13.868 12.1826 12.6613 13.0625 11.7633ZM6.1875 13.7502H5.5C5.31766 13.7502 5.1428 13.6778 5.01386 13.5488C4.88493 13.4199 4.8125 13.245 4.8125 13.0627C4.8125 12.8803 4.88493 12.7055 5.01386 12.5765C5.1428 12.4476 5.31766 12.3752 5.5 12.3752H6.1875C6.36984 12.3752 6.5447 12.4476 6.67364 12.5765C6.80257 12.7055 6.875 12.8803 6.875 13.0627C6.875 13.245 6.80257 13.4199 6.67364 13.5488C6.5447 13.6778 6.36984 13.7502 6.1875 13.7502ZM6.1875 11.0002H5.5C5.31766 11.0002 5.1428 10.9278 5.01386 10.7988C4.88493 10.6699 4.8125 10.495 4.8125 10.3127C4.8125 10.1303 4.88493 9.95548 5.01386 9.82655C5.1428 9.69762 5.31766 9.62518 5.5 9.62518H6.1875C6.36984 9.62518 6.5447 9.69762 6.67364 9.82655C6.80257 9.95548 6.875 10.1303 6.875 10.3127C6.875 10.495 6.80257 10.6699 6.67364 10.7988C6.5447 10.9278 6.36984 11.0002 6.1875 11.0002ZM6.1875 8.25018H5.5C5.31766 8.25018 5.1428 8.17775 5.01386 8.04882C4.88493 7.91989 4.8125 7.74502 4.8125 7.56268C4.8125 7.38035 4.88493 7.20548 5.01386 7.07655C5.1428 6.94762 5.31766 6.87518 5.5 6.87518H6.1875C6.36984 6.87518 6.5447 6.94762 6.67364 7.07655C6.80257 7.20548 6.875 7.38035 6.875 7.56268C6.875 7.74502 6.80257 7.91989 6.67364 8.04882C6.5447 8.17775 6.36984 8.25018 6.1875 8.25018ZM6.1875 5.50018H5.5C5.31766 5.50018 5.1428 5.42775 5.01386 5.29882C4.88493 5.16989 4.8125 4.99502 4.8125 4.81268C4.8125 4.63035 4.88493 4.45548 5.01386 4.32655C5.1428 4.19762 5.31766 4.12518 5.5 4.12518H6.1875C6.36984 4.12518 6.5447 4.19762 6.67364 4.32655C6.80257 4.45548 6.875 4.63035 6.875 4.81268C6.875 4.99502 6.80257 5.16989 6.67364 5.29882C6.5447 5.42775 6.36984 5.50018 6.1875 5.50018ZM9.625 13.7502H8.9375C8.75516 13.7502 8.5803 13.6778 8.45136 13.5488C8.32243 13.4199 8.25 13.245 8.25 13.0627C8.25 12.8803 8.32243 12.7055 8.45136 12.5765C8.5803 12.4476 8.75516 12.3752 8.9375 12.3752H9.625C9.80734 12.3752 9.9822 12.4476 10.1111 12.5765C10.2401 12.7055 10.3125 12.8803 10.3125 13.0627C10.3125 13.245 10.2401 13.4199 10.1111 13.5488C9.9822 13.6778 9.80734 13.7502 9.625 13.7502ZM9.625 11.0002H8.9375C8.75516 11.0002 8.5803 10.9278 8.45136 10.7988C8.32243 10.6699 8.25 10.495 8.25 10.3127C8.25 10.1303 8.32243 9.95548 8.45136 9.82655C8.5803 9.69762 8.75516 9.62518 8.9375 9.62518H9.625C9.80734 9.62518 9.9822 9.69762 10.1111 9.82655C10.2401 9.95548 10.3125 10.1303 10.3125 10.3127C10.3125 10.495 10.2401 10.6699 10.1111 10.7988C9.9822 10.9278 9.80734 11.0002 9.625 11.0002ZM9.625 8.25018H8.9375C8.75516 8.25018 8.5803 8.17775 8.45136 8.04882C8.32243 7.91989 8.25 7.74502 8.25 7.56268C8.25 7.38035 8.32243 7.20548 8.45136 7.07655C8.5803 6.94762 8.75516 6.87518 8.9375 6.87518H9.625C9.80734 6.87518 9.9822 6.94762 10.1111 7.07655C10.2401 7.20548 10.3125 7.38035 10.3125 7.56268C10.3125 7.74502 10.2401 7.91989 10.1111 8.04882C9.9822 8.17775 9.80734 8.25018 9.625 8.25018ZM9.625 5.50018H8.9375C8.75516 5.50018 8.5803 5.42775 8.45136 5.29882C8.32243 5.16989 8.25 4.99502 8.25 4.81268C8.25 4.63035 8.32243 4.45548 8.45136 4.32655C8.5803 4.19762 8.75516 4.12518 8.9375 4.12518H9.625C9.80734 4.12518 9.9822 4.19762 10.1111 4.32655C10.2401 4.45548 10.3125 4.63035 10.3125 4.81268C10.3125 4.99502 10.2401 5.16989 10.1111 5.29882C9.9822 5.42775 9.80734 5.50018 9.625 5.50018Z"
                fill="#1456A2"></path>
            </svg>

            Offices
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="container w-[80%] md:w-full">
      <LinkedInSlider client:load />
    </div>
  </section>
</Layout>
