---
import _ from "lodash";
import Layout from "../layouts/Layout.astro";
import MainSectionComponent from "../components/MainSectionComponent.astro";
import LifeAwards from "../components/LifeAwards";
// import jobs from "../data/jobs.json";
import OrganisationValues from "../components/OrganisationValues.astro";
import JobsListing from "../components/JobsListing";
---

<Layout title="Life at CloudExtel | CloudExtel">
  <MainSectionComponent
    title="Life @ CloudExtel"
    subtext="We believe in empowering our employees with the autonomy to explore, experiment, and excel. Here, your ideas are valued, your growth is supported, and your impact is real."
    image="/images/life-at.png"
  />

  <section class="container">
    <div class="w-full mx-auto py-[120px]">
      <div
        class="grid grid-cols-1 md:grid-cols-3 grid-rows-1 md:grid-rows-2 gap-6"
      >
        <img src="/images/collage-1.png" class="w-full" alt="" />
        <div class="flex flex-col justify-between items-end gap-6">
          <img class="w-full" src="/images/collage-2.png" alt="" />
          <div
            class="flex flex-wrap justify-between items-center w-full h-full md:max-h-[250px]"
          >
            <img
              class="w-1/2 h-full md:pr-[8px]"
              src="/images/collage-3.png"
              alt=""
            />
            <img
              class="w-1/2 h-full pl-[16px] md:pl-[8px]"
              src="/images/collage-4.png"
              alt=""
            />
          </div>
        </div>
        <img class="w-full" src="/images/collage-5.png" alt="" />
        <img class="w-full" src="/images/collage-6.png" alt="" />
        <img class="w-full" src="/images/collage-7.png" alt="" />
        <img class="w-full" src="/images/collage-8.png" alt="" />
      </div>
      <!-- <img src="/images/gallery-collage.png" alt="" /> -->
    </div>
  </section>

  <section class="container mt-[50px] mb-[120px]">
    <OrganisationValues />
  </section>
  <LifeAwards client:load />

  <section class="container">
    <div class="py-[120px]">
      <h1 class="heading-1 text-center">Career Opportunities</h1>
      <p class="para text-center mt-6">
        Employees are the heart and soul of an organisation. Want to contribute
        to the<br />
        ever-changing networking landscape? Reach out to us at <a
          class="underline text-primary-color">careers@cloudextel.com</a
        >
      </p>
      <!-- <div
        class="w-full max-w-[700px] mx-auto flex border border-[#728090A3] p-3 mt-6"
      >
        <input
          type="text"
          placeholder="Search by location, keyword or job title"
          class="flex-1 visited:outline-none focus:outline-none"
        />
        <img src="/images/Search.png" alt="" />
      </div> -->
      <JobsListing client:load />
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const jobsDiv = document.querySelector("#jobs") as HTMLElement;
    const loadMore = document.querySelector("#loadMore") as HTMLElement;
    const trHeight =
      (document.querySelector("#jobs tr") as HTMLElement)?.offsetHeight || 0;
    const trShow = trHeight * 5 - 40;
    const trTotal = Math.ceil(
      (document.querySelector("#jobs")?.scrollHeight ?? 0) / trHeight
    );
    if (jobsDiv && trHeight && trTotal && trShow && loadMore) {
      jobsDiv.style.height = `${trShow}px`;

      loadMore.addEventListener("click", () => {
        if (loadMore.classList.contains("show")) {
          jobsDiv.style.height = `${trShow}px`;
          loadMore.innerHTML =
            "Load More <img src='/images/arrow-down.png' alt='' class='h-[14px]'>";
          loadMore.classList.remove("show");
        } else {
          jobsDiv.style.height = `${trTotal * trHeight}px`;
          loadMore.innerHTML =
            "Show Less <img src='/images/arrow-down.png' alt='' class='h-[14px] rotate-180'>";
          loadMore.classList.add("show");
        }
      });
    }
  });
</script>
