---
import Layout from "../layouts/Layout.astro";
import MainSectionComponent from "../components/MainSectionComponent.astro";
import OurSolutionsTabs from "../components/OurSolutionsTabs";
import customersData from '../data/our-customers.json';
---
<Layout title="Our Solutions | Cloud Extel">
    <MainSectionComponent title="Our Solutions" image="/images/our-solutions.png" />

    <OurSolutionsTabs client:load/>
    <section class="bg-primary-color">
        <div class="container">
            <div class="max-w-[73rem] py-32 mx-auto space-y-10">
                <div class="heading-1 text-center text-white">Our Customers</div>
                <div class="flex flex-col md:flex-row md:flex-wrap justify-center gap-5">
                    {customersData.map((item, index) => {
                        return (<article 
                        data-aos="fade-up" data-aos-duration="500" data-aos-delay={index*100}
                        class="w-full md:w-[23%]">
                            <img src={item.image} alt={item.name} />
                        </article>)
                    })}
                </div>
            </div>
        </div>
    </section>
    <section class="container">
            <div class="max-w-[73rem] py-32 mx-auto space-y-10">
                <div class="heading-1 text-center">Our Subsidiaries</div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                    <div class="bg-[#3789E6] p-8 text-white bg-[url('/images/bgcpl.png')] h-[157px]">
                        <h3 class="heading-6">
                            Bombay Gas Company<br>Proprietary Private Limited
                        </h3>
                    </div>
                    <div class="bg-[#FF9124] p-8 text-white bg-[url('/images/orange-waves.png')] h-[157px]">
                        <h3 class="heading-6">Orange Waves
                        <br>Networks</h3>
                    </div>
                    <div class="bg-[#37C4CD] p-8 text-white bg-[url('/images/netfra.png')] h-[157px]">
                        <h3 class="heading-6">Netfra Solutions</h3>
                    </div>
                </div>
            </div>
    </section>
</Layout>

<script>
    document.addEventListener("readystatechange", function () {
      const pageNav = document.querySelector<HTMLDivElement>("#our-solutions-nav");
      const navHeight = pageNav?.offsetHeight || 0;
      if (pageNav) {
        const placeholder = document.createElement("div");
        placeholder.style.height = `${navHeight}px`;
        placeholder.style.display = "none"; // Initially hidden
        // Insert the placeholder before the navigation element
        pageNav.parentNode?.insertBefore(placeholder, pageNav);
        const navInitialPosition =
          pageNav.getBoundingClientRect().top + window.scrollY;
        window.addEventListener("scroll", () => {
          // Check the current scroll position
          if (window.scrollY >= navInitialPosition) {
            pageNav.classList.add(
              "fixed",
              "top-0",
              "w-full",
              "z-50",
              "shadow-md",
              "bg-white",
              "transition",
              "ease-in-out",
              "duration-300",
              "translate-y-0"
            );
            pageNav.classList.remove("-translate-y-full");
            placeholder.style.display = "block";
          } else {
            pageNav.classList.remove(
              "fixed",
              "top-0",
              "w-full",
              "z-50",
              "shadow-md",
              "bg-white",
              "translate-y-0"
            );
            pageNav.classList.add(
              "-translate-y-0",
              "transition",
              "ease-in-out",
              "duration-300"
            );
            placeholder.style.display = "none";
          }
        });
      }
         
    });
  </script>