---

---

<header class="position fixed z-20 w-full">
  <div class="container flex h-[120px] items-center gap-8 text-white">
    <a
      href="/"
      class="flex items-center gap-2 h-[55px]"
      aria-label="Home"
      id="logoContainer"
    >
      <span class="sr-only">Home</span>

      <svg
        width="250"
        height="52"
        viewBox="0 0 250 52"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.7784 27.2102C17.6338 27.2102 18.3272 26.5163 18.3272 25.6603C18.3272 24.8043 17.6338 24.1104 16.7784 24.1104C15.923 24.1104 15.2295 24.8043 15.2295 25.6603C15.2295 26.5163 15.923 27.2102 16.7784 27.2102Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.3373 25.6599C13.3373 24.7128 13.7676 23.8517 14.3699 23.1628C13.2513 21.2685 11.7024 19.8908 9.20706 19.7185H4.38841H0.774426C0.516284 20.4935 0.516284 20.7518 0.344189 21.699C0.0860473 22.9906 0 24.2822 0 25.6599C0 27.0377 0.0860473 28.3293 0.344189 29.707C0.516284 30.6542 0.602331 30.9125 0.774426 31.6874H4.38841H9.29311C11.7024 31.5152 13.2513 30.0514 14.4559 28.2432C13.7676 27.5543 13.3373 26.6071 13.3373 25.6599ZM51.2842 25.6599C51.2842 21.0102 49.9074 16.4465 47.7563 12.6578C36.4841 8.3524 22.3723 12.5716 19.5327 23.4212C20.049 24.0239 20.3072 24.7989 20.3072 25.6599C20.3072 26.521 19.963 27.296 19.5327 27.8987C22.3723 38.8343 36.5701 43.0536 47.7563 38.6621C49.9935 34.8734 51.2842 30.3097 51.2842 25.6599ZM25.6421 51.3199C15.0583 51.3199 5.07679 44.5174 1.6349 34.4429H4.38841H9.98149C13.6815 34.4429 15.4885 32.0319 16.7792 29.1903H16.8653H16.9513C17.0374 29.707 17.2955 30.3097 17.5537 30.8264C23.0607 42.8814 35.8817 44.173 45.6911 41.8481C40.098 48.3061 34.4189 50.9755 25.6421 51.3199ZM25.6421 0C34.4189 0.430536 40.0981 3.09986 45.6051 9.5579C35.7957 7.1469 22.9746 8.52461 17.4676 20.5796C17.2955 21.0102 16.9513 21.699 16.8653 22.2157H16.7792H16.6932C15.4025 19.288 13.5955 16.9631 9.89544 16.9631H4.38841H1.6349C5.07679 6.80247 15.0583 0 25.6421 0Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M76.083 40.3849C81.8323 40.3849 86.5363 37.116 89.0189 32.278L84.0536 29.6628C82.6163 32.6702 79.8723 35.0239 75.9523 35.0239C70.7257 35.0239 66.8057 30.8396 66.8057 25.7401C66.8057 20.5098 70.7257 16.4564 76.083 16.4564C79.7416 16.4564 82.2243 18.287 83.7923 21.2944L88.6269 18.287C86.1443 13.972 81.4403 11.2261 76.083 11.2261C67.851 11.2261 61.3177 17.3717 61.3177 26.0016C61.4484 33.8471 67.1977 40.3849 76.083 40.3849ZM91.2403 39.9927H96.5976V11.3568H91.2403V39.9927ZM109.272 40.3849C114.891 40.3849 119.464 35.8084 119.464 30.1859C119.464 24.5633 114.891 19.9868 109.272 19.9868C103.654 19.9868 99.0802 24.5633 99.0802 30.1859C99.0802 35.8084 103.654 40.3849 109.272 40.3849ZM109.272 35.2854C106.528 35.2854 104.307 32.9318 104.307 30.1859C104.307 27.44 106.398 25.0863 109.272 25.0863C112.016 25.0863 114.238 27.44 114.238 30.1859C114.238 33.0625 112.016 35.2854 109.272 35.2854ZM129.395 40.3849C131.616 40.3849 133.576 39.3389 134.752 37.7698V39.9927H140.109V20.3791H134.752V31.1012C134.752 34.3701 133.053 35.8084 130.963 35.8084C128.611 35.8084 127.304 34.2393 127.304 31.6242V20.3791H121.816V32.4087C121.947 37.5083 124.822 40.3849 129.395 40.3849ZM152.131 40.3849C154.744 40.3849 156.704 39.3389 158.011 37.7698V39.9927H163.368V11.3568H158.011V22.3404C156.704 20.9021 154.744 19.9868 152.131 19.9868C147.688 19.9868 142.592 23.2557 142.592 30.1859C142.723 37.116 147.949 40.3849 152.131 40.3849ZM153.176 35.5469C150.171 35.5469 147.949 33.324 147.949 30.1859C147.949 27.1784 150.171 24.9556 153.176 24.9556C156.051 24.9556 158.141 27.3092 158.141 30.1859C158.272 33.0625 156.051 35.5469 153.176 35.5469ZM166.765 39.9927H183.752V34.7624H172.253V28.2245H183.752V22.9942H172.253V16.5871H183.752V11.3568H166.765V39.9927ZM185.451 39.9927H191.984L196.035 34.2393L200.216 39.9927H206.749L199.432 30.0551L206.227 20.3791H199.955L196.165 25.8709L192.376 20.3791H185.843L192.768 30.0551L185.451 39.9927ZM207.795 25.2171H211.192V31.4934C211.192 37.9005 213.283 39.9927 219.424 39.9927H220.208V35.0239C216.941 35.0239 216.549 34.5008 216.549 31.4934V25.2171H220.208V20.3791H216.549V12.7952L211.192 15.8026V20.3791H207.795V25.2171ZM232.099 40.3849C236.411 40.3849 239.547 38.162 241.245 35.1546L236.933 32.5395C236.019 34.3701 234.32 35.5469 232.099 35.5469C229.224 35.5469 227.525 34.1086 226.872 32.0165H242.029V30.0551C242.029 24.4325 237.848 19.856 231.968 19.856C226.349 19.856 221.776 24.4325 221.776 30.0551C221.776 35.6777 225.957 40.3849 232.099 40.3849ZM231.968 24.6941C234.189 24.6941 235.888 25.7401 236.672 27.8322H227.133C228.048 26.0016 229.747 24.6941 231.968 24.6941ZM244.642 39.9927H250V11.3568H244.642V39.9927Z"
          fill="white"></path>
      </svg>
    </a>

    <div class="flex flex-1 items-center justify-end md:justify-between">
      <div class="flex items-center justify-end gap-4 w-full">
        <div class="sm:flex sm:gap-4 h-[55px]">
          <a
            class={`items-center gap-2 rounded-full bg-transparent
                    px-5 py-2.5 text-sm font-medium 
                    border-white border text-white
                    transition 
                    md:flex
                    hidden "hover:bg-white hover:text-[#233852] 
                    group
                    `}
            href="/contact-us"
          >
            Contact Us
            <span>
              <svg
                width="17"
                height="8"
                viewBox="0 0 17 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class={`fill-white group-hover:fill-[#233852]  transition-all`}
              >
                <path
                  d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z"
                  class={`fill-white group-hover:fill-[#233852] transition-all`}
                ></path>
              </svg>
            </span>
          </a>
          <input type="checkbox" id="nav-toggle" class="hidden" />
          <label
            for="nav-toggle"
            class={`h-full flex flex-col items-center justify-center rounded-full border-white border bg-transparent py-2.5 px-6 text-gray-600 
            transition hover:text-gray-600/75 hover:bg-white hover:text-[#233852]
                    group cursor-pointer
            `}
          >
            <span
              class={`h-[10px] w-[32px] border-white group-hover:border-[#233852] border-t border-b block `}
            ></span>
            <span class="sr-only">Toggle menu</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.querySelector("header") as HTMLElement;
    // const aboutNav = document.querySelector<HTMLDivElement>("#about-nav");
    // const solutionsNav =
    //   document.querySelector<HTMLDivElement>("#our-solutions-nav");
    const currentPage = window.location.pathname;
    document.addEventListener("scroll", () => {
      if (
        currentPage.includes("about") ||
        currentPage.includes("our-solutions")
      ) {
        header.classList.remove("fixed");
        header.classList.add("absolute");
      } else {
        if (window.scrollY > 0) {
          header.classList.add("shadow", "bg-primary-color");

          // if(aboutNav?.classList.contains('fixed') || solutionsNav?.classList.contains('fixed')){
          //   header.classList.remove("shadow", 'bg-primary-color', 'fixed');
          // }else{
          //   header.classList.add("fixed");
          // }
        } else {
          header.classList.remove("shadow", "bg-primary-color");
        }
      }
    });
  });
</script>
