---
// No special server-side logic required.
---

<div class="flex bg-white justify-between flex-col md:flex-row">
    <!-- Left Section -->
    <div class="bg-primary-color text-white text-start w-[125px] hidden md:flex justify-center items-center writing-vertical-lr capitalize font-bold text-[60px] relative z-10 ">
      Organisation Values
    </div>

    <div class="bg-primary-color text-white text-center py-10 w-full md:hidden flex justify-center items-center writing-vertical-lr uppercase font-bold text-[40px] mb-[2rem] relative z-10">
      Organisation Values
    </div>
  
    <!-- Right Section -->
    <div class="px-0 md:pl-6">
      {[
        {
          icon: "ov_1.png",
          title: "Entrepreneurial Mindset",
          description:
            "We encourage creativity and initiative, empowering our team to think like entrepreneurs, embrace challenges, and drive innovative solutions.",
        },
        {
          icon: "ov_2.png",
          title: "People Development",
          description:
            "We prioritise the growth and empowerment of our team, investing in continuous learning and professional development to unlock their full potential.",
        },
        {
          icon: "ov_3.png",
          title: "Integrity & Trust",
          description:
            "We uphold the highest ethical standards, fostering a culture of honesty and transparency that builds trust with our employees, customers, and partners.",
        },
        {
          icon: "ov_4.png",
          title: "Collaboration",
          description:
            "We believe in teamwork and open communication, driving collective success through diverse perspectives.",
        },
        {
          icon: "ov_5.png",
          title: "Customer Centricity",
          description:
            "We prioritise the needs of our customers (internal/external), delivering tailored solutions that empower them.",
        },
      ].map((value, index) => (
        <div class="flex items-start space-x-4 mb-6 last:mb-0 lg:h-[135px] md:h-[265px] lg:w-[973px] md:w-[473px] w-full border py-4 px-10 connector relative "
        >
          <!-- Icon -->
          <div class="block w-[65px] h-[65px]">
            <img src={'/images/'+value.icon} alt="" class="max-w-full max-h-full">
            {/* {value.icon} */}
          </div>
          <div class={"connector-dot hidden md:block "+(index % 2 === 0 ? " bg-primary-color" : " bg-[#FF9124]")}></div>
  
          <!-- Text -->
          <div class="flex flex-col w-full">
            <div class="text-3xl bold-first-letter">{value.title}</div>
            <div class="text-gray-600 text-lg mt-2">{value.description}</div>
          </div>
        </div>
      ))}
    </div>
  </div>
  
  <style>
    /* Writing mode for vertical text */
    .writing-vertical-lr {
      writing-mode: vertical-lr;
      transform: rotate(180deg); /* For top-to-bottom vertical text */
    }
    .bold-first-letter::first-letter {
  font-weight: bold;
}
.connector::before {
    content: '';
    position: absolute;
    width: 16%;
    height: 4px;
    top: 50%;
    left: -16%;
    z-index: 1;
}
@media(max-width: 1080px) and (min-width: 768px) {
  .connector::before{
    left: -23%;
    width: 110px;
  }
  .writing-vertical-lr {
      writing-mode: vertical-lr;
      transform: rotate(180deg); /* For top-to-bottom vertical text */
    }
}
.connector:nth-child(odd)::before {
  background-color: #1456a2; /* Example color for odd items */
}

.connector:nth-child(even)::before {
  background-color: #FF9124; /* Example color for even items */
}
.connector-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: -21px;
  transform: translateY(-29%);
}
@media screen and (max-width: 500px) {
  .writing-vertical-lr{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  .connector::before{
    display: none;
  }
}


@media screen and (max-width:1400px) {
  .connector::before {
      content: '';
      position: absolute;
      width: 30%;
      height: 4px;
      top: 50%;
      left: -30%;
      z-index: 1;
  }
}





  </style>
  