---
interface Props {
  title: string;
}
import "@fontsource-variable/montserrat";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Sidenav from "../components/SideNav.astro";
import "../global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <Sidenav />
    <slot />
    <Footer />
  </body>
  <script>
    const sidebar = document.querySelector<HTMLDivElement>("#sidebar");
    const toggleCheck = document.querySelector<HTMLInputElement>("#nav-toggle");
    const sideNavClose =
      document.querySelector<HTMLButtonElement>("#close-sidenav");
    if (toggleCheck && sideNavClose && sidebar) {
      sideNavClose.addEventListener("click", () => {
        toggleCheck.checked = false; // Checked property is specific to HTMLInputElement
        sidebar.style.left = "-500px"; // Style property is specific to HTMLElement
      });
    }

    if (toggleCheck && sidebar) {
      toggleCheck.addEventListener("change", function (event: Event) {
        const target = event.target as HTMLInputElement; // Type assertion for target
        if (target.checked) {
          sidebar.style.left = "0px";
        } else {
          sidebar.style.left = "-500px";
        }
      });
    }
  </script>
</html>
